<a href="{{url}}">
  <svg class="infographic-country" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="541.479" height="156.334" viewBox="0, 0, 270.74, 78.167">
    <defs>
      <clipPath>
        <path d="M10975.901,12247.065 L12975.901,12247.065 L12975.901,11047.065 L10975.901,11047.065 z"/>
      </clipPath>
      <clipPath>
        <path d="M186.233,207.8 L220.167,207.8 L220.167,187.439 L186.233,187.439 z"/>
      </clipPath>
    </defs>
    <g transform="translate(-136, -179)">
      <g>
        <path d="M376.969,191.863 L335.622,191.863 L335.622,189.916 C335.622,189.639 335.398,189.416 335.122,189.416 C334.845,189.416 334.622,189.639 334.622,189.916 L334.622,191.863 L297.744,191.863 L297.744,189.916 C297.744,189.639 297.521,189.416 297.244,189.416 C296.968,189.416 296.744,189.639 296.744,189.916 L296.744,191.863 L259.712,191.863 L259.712,189.916 C259.712,189.639 259.488,189.416 259.212,189.416 C258.936,189.416 258.712,189.639 258.712,189.916 L258.712,191.863 L220.167,191.863 L220.167,207.533 L258.712,207.533 L258.712,209.749 C258.712,210.025 258.936,210.249 259.212,210.249 C259.488,210.249 259.712,210.025 259.712,209.749 L259.712,207.533 L296.744,207.533 L296.744,209.749 C296.744,210.025 296.968,210.249 297.244,210.249 C297.521,210.249 297.744,210.025 297.744,209.749 L297.744,207.533 L334.622,207.533 L334.622,209.749 C334.622,210.025 334.845,210.249 335.122,210.249 C335.398,210.249 335.622,210.025 335.622,209.749 L335.622,207.533 L376.969,207.533 z" fill="#FFFFFF"/>
        <rect class="bar" fill="{{colour}}" x="220" y="193" width="0" data-width="{{width}}" height="14" />
      </g>
      <g>
        <path class="plug" data-pos="{{pos}}" transform="translate(-85, 0)" d="M306.781,201.611 L308.203,201.61 C308.66,203.654 310.259,205.164 312.162,205.164 L317.2,205.164 L317.2,203.609 L321.54,203.609 C322.009,203.609 322.389,203.168 322.389,202.623 C322.389,202.079 322.009,201.638 321.54,201.638 L317.2,201.638 L317.2,197.695 L321.54,197.695 C322.009,197.695 322.389,197.254 322.389,196.709 C322.389,196.165 322.009,195.724 321.54,195.724 L317.2,195.724 L317.2,194.076 L312.162,194.076 C310.24,194.076 308.628,195.617 308.19,197.694 L306.781,197.691 z" fill="{{dark_colour}}"/>
        <rect class="wire" fill="{{dark_colour}}" x="220" y="198.5" width="0" data-width="{{width}}" height="2.5" />
      </g>
      <g clip-path="url(#Clip_2)">
        <image xlink:href="{{flag}}" opacity="1" x="10975.901" y="11047.065" width="2000" height="1200" preserveAspectRatio="none" transform="matrix(0.017, 0, 0, 0.017, 0, 0)" clip-path="url(#Clip_1)"/>
      </g>
      <g>
        <path d="M206.098,209.507 L200.442,209.507 C200.182,209.507 199.971,209.296 199.971,209.036 L199.971,208.923 L206.569,208.923 L206.569,209.036 C206.569,209.296 206.359,209.507 206.098,209.507 M187.246,188.186 L219.294,188.186 L219.294,207.038 L187.246,207.038 z M220.698,208.564 C220.991,208.305 221.18,207.931 221.18,207.509 L221.18,188.186 L221.18,187.715 C221.18,186.934 220.547,186.301 219.766,186.301 L186.775,186.301 C185.993,186.301 185.361,186.934 185.361,187.715 L185.361,188.186 L185.361,207.509 C185.361,207.931 185.549,208.305 185.842,208.564 L179.705,208.564 L179.705,209.507 C179.705,209.507 179.705,210.921 181.119,210.921 L225.421,210.921 C226.835,210.921 226.835,209.507 226.835,209.507 L226.835,208.564 z" fill="#004449"/>
        <g>
          <path d="M169.218,198.359 C169.218,206.013 163.013,212.218 155.359,212.218 C147.705,212.218 141.5,206.013 141.5,198.359 C141.5,190.705 147.705,184.5 155.359,184.5 C163.013,184.5 169.218,190.705 169.218,198.359" fill="{{colour}}"/>
          <path d="M169.218,198.359 C169.218,206.013 163.013,212.218 155.359,212.218 C147.705,212.218 141.5,206.013 141.5,198.359 C141.5,190.705 147.705,184.5 155.359,184.5 C163.013,184.5 169.218,190.705 169.218,198.359" fill-opacity="0" stroke="#FFFFFF" stroke-width="2"/>
        </g>
      </g>
      <path d="M402.939,194.035 L398.931,194.035 L398.842,193.647 C398.454,191.968 397.872,190.304 397.109,188.701 L396.343,187.089 L397.835,188.068 C399.837,189.382 401.472,191.193 402.563,193.306 z M402.93,205.329 C401.763,207.953 399.759,210.202 397.287,211.664 L395.755,212.569 L396.591,210.998 C397.592,209.119 398.349,207.105 398.842,205.011 L398.933,204.626 L403.243,204.626 z M391.526,213.87 L391.526,204.626 L396.248,204.626 L396.073,205.259 C395.335,207.935 394.108,210.429 392.426,212.67 z M391.526,185.836 L392.406,185.963 L392.53,186.131 C394.155,188.33 395.347,190.776 396.073,193.402 L396.248,194.035 L391.526,194.035 z M388.905,194.035 L384.183,194.035 L384.358,193.402 C385.087,190.766 386.276,188.32 387.893,186.131 L388.019,185.961 L388.905,185.842 z M388.905,213.87 L388.005,212.671 C386.324,210.43 385.097,207.936 384.358,205.259 L384.184,204.626 L388.905,204.626 z M383.144,211.663 C380.672,210.202 378.668,207.952 377.501,205.329 L377.189,204.626 L381.498,204.626 L381.589,205.011 C382.086,207.119 382.843,209.134 383.839,210.997 L384.681,212.573 z M377.869,193.306 C378.96,191.19 380.591,189.379 382.588,188.068 L384.08,187.088 L383.314,188.701 C382.566,190.274 381.983,191.939 381.582,193.649 L381.492,194.035 L377.493,194.035 z M390.216,183.168 C381.104,183.168 373.691,190.58 373.691,199.692 C373.691,208.804 381.104,216.217 390.216,216.217 C399.327,216.217 406.74,208.804 406.74,199.692 C406.74,190.58 399.327,183.168 390.216,183.168" fill="#004449"/>
      <path d="M378.476,197.074 L380.082,202.398 L380.962,202.398 L381.82,199.868 C382.007,199.296 382.172,198.746 382.304,198.108 L382.326,198.108 C382.458,198.735 382.612,199.263 382.799,199.857 L383.613,202.398 L384.493,202.398 L386.209,197.074 L385.252,197.074 L384.493,199.747 C384.317,200.374 384.174,200.935 384.086,201.474 L384.053,201.474 C383.932,200.935 383.778,200.374 383.58,199.736 L382.755,197.074 L381.941,197.074 L381.072,199.791 C380.896,200.363 380.72,200.935 380.599,201.474 L380.566,201.474 C380.467,200.924 380.324,200.374 380.181,199.78 L379.466,197.074 z" fill="#FFFFFF"/>
      <path d="M386.572,197.074 L388.178,202.398 L389.058,202.398 L389.916,199.868 C390.103,199.296 390.268,198.746 390.4,198.108 L390.422,198.108 C390.554,198.735 390.708,199.263 390.895,199.857 L391.709,202.398 L392.589,202.398 L394.305,197.074 L393.348,197.074 L392.589,199.747 C392.413,200.374 392.27,200.935 392.182,201.474 L392.149,201.474 C392.028,200.935 391.874,200.374 391.676,199.736 L390.851,197.074 L390.037,197.074 L389.168,199.791 C388.992,200.363 388.816,200.935 388.695,201.474 L388.662,201.474 C388.563,200.924 388.42,200.374 388.277,199.78 L387.562,197.074 z" fill="#FFFFFF"/>
      <path d="M394.668,197.074 L396.274,202.398 L397.154,202.398 L398.012,199.868 C398.199,199.296 398.364,198.746 398.496,198.108 L398.518,198.108 C398.65,198.735 398.804,199.263 398.991,199.857 L399.805,202.398 L400.685,202.398 L402.401,197.074 L401.444,197.074 L400.685,199.747 C400.509,200.374 400.366,200.935 400.278,201.474 L400.245,201.474 C400.124,200.935 399.97,200.374 399.772,199.736 L398.947,197.074 L398.133,197.074 L397.264,199.791 C397.088,200.363 396.912,200.935 396.791,201.474 L396.758,201.474 C396.659,200.924 396.516,200.374 396.373,199.78 L395.658,197.074 z" fill="#FFFFFF"/>
      <text transform="matrix(1, 0, 0, 1, 219.819, 231.833)">
        <tspan x="-41.485" y="4" font-size="14" fill="#ffffff">{{name}}</tspan>
      </text>
      <text transform="matrix(1, 0, 0, 1, 208.184, 248.667)">
        <tspan x="-28.85" y="3.5" font-size="10" fill="#ffffff">{{continent}}</tspan>
      </text>
      <text transform="matrix(1, 0, 0, 1, 390.198, 243.167)">
        <tspan class="value" x="-10.5" y="8" font-size="22" fill="#ffffff" data-value="{{value}}">{{value}}</tspan>
      </text>
      <text transform="matrix(1, 0, 0, 1, 390.215, 226.5)">
        <tspan x="-8.227" y="3.333" font-size="8" fill="#ffffff">score</tspan>
      </text>
      <text transform="matrix(1, 0, 0, 1, 154.79, 198.167)" style='text-anchor="middle"'>
        <tspan
        {{#ranking_pos}}
        x="-4"
        {{/ranking_pos}}
        {{^ranking_pos}}
        x="-9.5"
        {{/ranking_pos}}
        y="6" font-size="17" fill="#333333">{{ranking}}</tspan>
      </text>
    </g>
  </svg>
</a>
